.last-section
  .upper-sec
    .download-store
      .about-us
        | About us
        br
        | floor no.8
        br
        | Dwarka, New Delhi
      .ios-app
        i.fab.fa-app-store-ios(aria-hidden='true')
      .android-app
        i.fab.fa-google-play(aria-hidden='true')
    .links-icons
      a(href='#')
        i.fab.fa-facebook.icon-footer(aria-hidden='true')
      a(href='#')
        i.fab.fa-twitter-square.icon-footer(aria-hidden='true')
      a(href='#')
        i.fab.fa-instagram.icon-footer(aria-hidden='true')
      a(href='#')
        i.fab.fa-snapchat-square.icon-footer(aria-hidden='true')
  .lower-sec
    h4
      | Copyright 
      i.fa.fa-copyright(aria-hidden='true')
      |  2020 EVERYONE. All rights reserved
