extends base.pug
block content
 .bcontainer
  .forget
    h1 Forget
    input.email-f(type='email' placeholder='Email')
    span#message
    button.forget-btn FORGET
  .reset
    h1 Reset
    input.email-r(type='email' placeholder='Email')
    button.reset-btn RESET
  .overlay-rf
    .forget-panel
      h1 Hello Frinds
      p I guess u forget ur password and get u want to get getcnnebcted with us
      button.ghost-f FORGET
    .reset-panel
      h1 Hello Reseter
      p I guess u want to enhace ur security with us and want here more
      button.ghost-r RESET
block scripts
 script(src="./js/fpw.js") 
