.header-nav-bar
  .header-nav-bar-icon
    img(src='https://img.icons8.com/pastel-glyph/64/000000/fast-food--v1.png')
  ul.showcase-ul
    li.showcase-li
      a(href='/') FEATURES
    li.showcase-li
      a(href='/details') DETAILS
    li.showcase-li
      a(href='/reviews') REVIEWS
    li.showcase-li
      a(href='/plans') PLANS
    if name
        li.showcase-li
          a(href='/profile') #{name}   
        li.showcase-li
          a(href='/logout') LOGOUT
    else
        li.showcase-li
          a(href='/login') LOGIN
