extends base
block content
 link(rel="stylesheet" , href="../css/style.css")
 .bcontainer
  #changePassword.changePassword
    h1 Change Password
    input.password-reset(type='password' placeholder='Password')
    input.Password-cfrm(type='password' placeholder='Confirm Password')
    span#message-password 
    button#change-password-btn.forget-btn Change Password
block scripts
 script(src="../js/changeresetpw.js") 